@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

:root {
  --color-main: #1f2937;
  --color-primary: #e3f6f5;
  --color-secondary: #bae8e8;
  --color-third: #34a3a3;
  --color-four: #fafafa;
  --color-five: #272343;
}

#app {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: var(--color-four);
}

.main {
  text-align: center;
  margin-top: 60px;
}

html {
  height: 100%;
  background: var(--color-four);
}
